dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.4);
}

dialog {
  border: none;
  border-radius: 5px;
  box-shadow: 0 15px 25px hsla(0, 0%, 0%, 0.15),
    0 5px 10px hsla(0, 0%, 0%, 0.3);
  width: 400px;
  max-width: 85vh;
  padding: 1.5rem;
}

dialog form {
  padding: 0;
}