form {
  background-color: #fff;
  padding: 3rem;
  border-radius: 1rem;
}

.form-row {
  margin-bottom: 1.5rem;
}

label,
legend {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.2em;
}

.form-input {
  border: 1px solid var(--color-gray-500);
  padding: 0.65rem 1rem;
  border-radius: 4px;
  width: 100%;
  font-size: 1rem;

  transition-property: border-color, box-shadow;
  transition-duration: 0.16s;
  transition-timing-function: linear;
}

.form-input:focus-visible {
  outline: none;
}

.form-input:focus {
  border-color: var(--color-accent);
  box-shadow: 0px 0px 0px 4px var(--color-accent-light);
}

textarea {
  resize: vertical;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.field-hint {
  color: var(--color-gray-600);
  margin-bottom: 0.5em;
  font-size: 0.875rem;
}

.radio-label {
  background-color: var(--color-gray-200);
  padding: 0.6rem 1rem;
  border-radius: 4px;
  border: 1.5px solid transparent;
}

input[type="radio"] {
  scale: 1.5;
  margin-right: 0.5em;
}

.radio-label:hover {
  border-color: var(--color-gray-400);
}

.radio-label:has(:checked) {
  border-color: rgb(112, 112, 233);
}
