form {
  background-color: #fff;
  padding: 3rem;
  border-radius: 1rem;
}

.form-row {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.2em;
}

.form-input {
  border: 1px solid var(--color-gray-500);
  padding: 0.65rem 1rem;
  border-radius: 4px;
  width: 100%;
  font-size: 1rem;
  transition: all 0.16s linear;
}

.form-input:focus-visible {
  outline: none;
}

.form-input:focus {
  border-color: var(--color-accent);
  box-shadow: 0px 0px 0px 4px var(--color-accent-light);
}
