.site-header {
  background-color: #FFF;
  margin-bottom: 2rem;
}

.logo {
  padding: 1rem;
  margin-right: 2rem;
}

.main-navigation {
  flex: 1;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  height: 100%;
}

.main-navigation li {
  display: flex;
}

.main-navigation li:last-child {
  margin-left: auto;
  align-self: center;
}

.main-navigation a {
  display: flex;
  align-items: center;
  padding: 0 1.2em;
  text-decoration: none;
  color: var(--color-gray-600);
  font-weight: bold;
  border-bottom: 3px solid transparent;
}

.main-navigation li:last-child a {
  background-color: #2B3499;
  color: #FFF;
  padding: 0.4em 1.3em;
  border-radius: 30px;
}

.main-navigation li:last-child a:hover {
  background-color: #3842b2;
}

.main-navigation a:hover {
  color: var(--color-gray-900);
}

.main-navigation a[aria-current="page"] {
  color: #2B3499;
  border-color: #FF6C22;
}